.filter-accessory {
  ::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    bottom: 0;
    width: 30px;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 65%
    );
    pointer-events: none;
  }
}

.filter-container {
  scrollbar-width: thin;
}
